<!DOCTYPE html>
<html>
<head>
  <title>Navigator</title>
  <%= javascript_include_tag "d3.v2.min" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag  "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="streamgraph-content" class="container">
    <%= yield %>
  </div>
</body>
</html>
